{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'inventario/img/favicon.ico' %}" type="image/x-icon">
    <title>{% block head_title %}Iniciar sesión | FOCAL{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'landing/css/allauth.css' %}">
</head>
<body class="auth-body">
    <div class="auth-container">
        <div class="auth-card">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>