{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Procesar Ventas</title>
  <link rel="icon" href="{% static 'inventario/img/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'inventario/css/procesar_ventas_archivo.css' %}">
</head>
<body>
  <h2>Descontar Productos desde Archivo</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Procesar</button>
  </form>

  {% if messages %}
    <ul>
      {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</body>
</html>